.bloque-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: #01b0d8;
    
}
.elemento-logo-header{
    width: 25%;
    padding-left: 10px;
}
.elemento-navbar{
    width: 75%;
    display: flex;
    justify-content: end;
}

@media (max-width: 450px) {
  .bloque-header{
    justify-content: space-around;
  }
}